{{#liquid-if shouldShow class="picker"}}
  <div class="station-picker__input" aria-label={{placeholder}} {{action 'toggleShowStations'}}>
    <div class="station-picker__dot-{{color}}"></div>
    {{inputText}}
  </div>

  {{#liquid-if shouldShowStations class='station-list'}}
    {{#each stations as |station|}}
      <div class="station-picker__tile" {{action 'pickStation' station}}>{{station.name}}</div>
    {{/each}}
  {{/liquid-if}}
{{/liquid-if}}
